@using JohannMovies.ViewModel
@model IndexCustomersViewModel
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (Model.Customers.Count == 0)
{
    <div class="alert alert-info">
        We currently do not have any customer.
    </div>
}
else
{
    @Html.ActionLink("New Customer", "New", "Customers", new { @class = "btn btn-primary" });
    <br /><br />
    <table id="customersTbl" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Membership Type</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>
                    <td>@customer.MembershipType.Name</td>
                    <td><button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>

}


@section scripts
{
    
<script>
 $(document).ready(function (){
     $("#customersTbl .js-delete").on("click", function () {
         var button = $(this);
         bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
             if (result) {

                 var customerId = button.attr("data-customer-id");
                 $.ajax({
                     url: "/api/customers/" + customerId,
                     method: "DELETE",
                     success: function () {
                         console.log("DELETE Success. Id=" + customerId);
                         button.parents("tr").remove();
                     }
                 });

             }
         });
         
     });
});
</script>
    
}