@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="jumbotron">
    <h1>Johann Movies</h1>
    <p class="lead">Welcome to Johann Movies rentals. A sua boa e velha locadora de CDs, DVDs e Blu-ray.</p>
    <p>@Html.ActionLink("Cadastre-se", "Register", "Account", new { @class = "btn btn-primary btn-lg" })</p>
        @*
        <a href="https://asp.net" class="btn btn-primary btn-lg">Cadastre-se &raquo;</a>
        *@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>
            Mussum Ipsum, cacilds vidis litro abertis. Cevadis im ampola pa arma uma pindureta. In elementis mé pra quem é amistosis quis leo. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Si num tem leite então bota uma pinga aí cumpadi!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Proceed to Customers &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Movies</h2>
        <p>
            Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl. Quem manda na minha terra sou euzis! Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Proceed to Movies &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rentals</h2>
        <p>
            Não sou faixa preta cumpadi, sou preto inteiris, inteiris. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Suco de cevadiss deixa as pessoas mais interessantis. A ordem dos tratores não altera o pão duris.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Proceed to Rentals &raquo;</a></p>
    </div>
</div>